.EditMatches {
  background-color: hsl(260, 47%, 96%);
}

.ButtonEdit {
  /* size: 60%; */
  width: 100%;
  font-size: x-large;
  margin: 5%;
  padding: 5%;
  background-color: rgb(6, 6, 149);
  --bs-btn-active-bg: rgb(62, 62, 232);
  --bs-btn-active-border-color: rgb(62, 62, 232);
  border: none;
}

.ButtonEdit:hover {
  background-color: rgb(62, 62, 232);
}

.ButtonSubmit {
  font-size: x-large;
  margin: 2%;
  padding: 1% 5%;
  background-color: hsl(261deg 80% 48%);
  border: none;
}

.ButtonSubmit:hover {
  background-color: hsla(261, 80%, 48%, 0.748);
  --bs-btn-active-bg: hsla(261, 80%, 48%, 0.748);
  --bs-btn-active-border-color: hsla(261, 80%, 48%, 0.748);
  transform: translate3D(0, -1px, 0) scale(1.1);
  transition: all 0.4s ease;
}

.Titles {
  font-size: x-large;
  font-weight: bold;
}
.Formclass {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-control {
  width: 50% !important;
  margin: 1%;
}
.form-select {
  width: 50% !important;
  margin: 1%;
}