.bg-body-tertiary {
  color: white;
  background-color: black !important;
  text-decoration: none;
}

.navbar a {
  color: white;
}
.navbar-brand {
  font-size: 300%;
  font-weight: bolder;
}
.nav-link {
  /* text-decoration: underline; */
  font-size: larger;
}

.NavBarStyles :hover {
  color: hsl(261deg 80% 48%) !important;
}

.navbar-toggler {
  background-color: aliceblue;
}

.NavBarStyles button:hover {
  color: hsl(261deg 80% 48%);
}

/* 


.brand-logo {
  height: 60px;
  border: #000000;

  justify-content: left;
  float: right;
}
.brand-logo2 {
  height: 60px;
  border: #000000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

li a:hover {
  color: #3da35d;
} */
