.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #3da35d;
  z-index: 9;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  height: 60px;
  border: #000000;

  justify-content: left;
  float: right;
}
.brand-logo2 {
  height: 60px;
  border: #000000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

li a:hover {
  color: #3da35d;
}
