.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #3DA35D;
  z-index: 9;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  height: 60px;
  border: #000000;

  justify-content: left;
  float: right;
}

.brand-logo2 {
  height: 60px;
  border: #000000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding-right: 5%;
  overflow: hidden;
  background-color: #3DA35D;
}

.nav li {
  float: right;
}

.nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}



.nav li a:hover {
  color: black;
}

@media (max-width: 768px) {
  .nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
  }
}