.matchcont{
  display: flex;
  justify-content: center;
  height: 20%;
}

.matches{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seats-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:70%;
}
